*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color: #2f2f2f;
    background: #fff;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    background: #fff4f3;
    padding: 18px 10%;
    z-index: 1000;
}
.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: #f54744;
}
.menu{
    display: flex;
}
.menu a{
    font-size: 1rem;
    padding: 10px 20px;
    color: #f54744;
    display: inline-block;
    font-weight: 500;
    transition: 0.1s;
}
.menu a:hover{
    color: white;
    background: #f54744;
    border-radius: 2rem;
}
section{
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    background: #fff4f3;
}
.home-text{
    flex-basis: 60%;
}
.home-text h3{
    color: #f54744;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 10px 0;
}
.home-text h1{
    font-size: 4rem;
    font-weight: 600;
}
.home-text p{
    font-size: 1.2rem;
    padding: 20px 0;
    line-height: 1.5rem;
    width: 70%;
}
.btn{
    display: inline-block;
    background: #f54744;
    padding: 20px 30px;
    border-radius: 2rem;
    color: #fff;
    transition: .3s;
}
.home-text a{
    font-size: 1rem;
}
.btn:hover{
    background: #fc5552;
}
span{
    color: #f54744;
}
.home-img{
    flex-basis: 40%;
}
.home-img img{
    width: 90%;
}
.heading{
    text-align: center;
}
.heading h3{
    color: #f54744;
    font-size: 1rem;
    text-transform: uppercase;
}
.heading h2{
    font-size: 2rem;
    color: black;
    text-align: justify;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}
.s-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.s-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px 10px;
    background: #f5f5f5;
    border-radius: 5px;
}
.s-box h2{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 10px;
}
.s-box p{
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}


.c-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.c-box{
    width: 30%;
    overflow: hidden;
    position: relative;
    height: 60vh;
}
.c-box img{
    width: 100%;
    object-fit: cover;
}
.texx{
    position: absolute;
    top: -100%;
    left: 0;
    text-align: center;
    background: #0000007c;
    width: 100%;
    height: 100%;
    padding: 40% 0;
    transition: .3s;
}
.texx h2{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 10px;
}
.texx p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 10px;
}
.texx .btn{
    padding: 10px 20px;
}
.c-box:hover .texx{
    top: 0;
}

.c-form{
    margin: 10px 0;
    display: flex;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}
.form input{
    padding: 10px 0;
    margin-bottom: 10px;
    border: 0;
    background: #ff4f4f1c;
    border-radius: 5px;
}
textarea {
    resize: none;
    padding: 10px;
    background: #ff4f4f1c;
    border-radius: 5px;
    border: 0;
}
input[type="text"] {
    padding-left: 10px;
}
input[type="Email"] {
    padding-left: 10px;
}
input[type="button"] {
    background: #e52b54;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    cursor: pointer;
}

.footer{
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
}
.footer p{
    color: white;
    font-size: 1rem;
    font-weight: 400;
}